name: Lint vimscript code

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ludvighz/vint-action@v1
        with:
          path: "**.vim"
